.Rproj.user
.Rhistory
.RData
.Ruserdata

# scratch folder
scratch/
  
# Data files
*.rds
*.feather
in/siteSR_data/siteSR_collated_sites_LT05_DSWE1_2025-02-24_export.csv
in/siteSR_data/siteSR_collated_sites_LT04_DSWE1_2025-02-24_export.csv
in/siteSR_data/siteSR_collated_sites_LE07_DSWE1_2025-02-24_export.csv
in/siteSR_data/siteSR_collated_sites_LC09_DSWE1_2025-02-24_export.csv
in/siteSR_data/siteSR_collated_sites_LC08_DSWE1_2025-02-24_export.csv

*.DS_Store

in/lakeSR_data/collated_handoffs.csv
